/* FONT */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&display=swap');

/* COLORS */

:root {
  --white: #fff;
  --blue: #3498db;
  --light-grey: #f2f2f2;
  --medium-grey: #bdbdbd;
  --dark-blue-grey: #4a6572;
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
}

ul {
  list-style: none;
}

/* GENERAL */

html,
body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(to bottom, #f4f1ee, #abb2b7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--dark-blue-grey);
}

p {
  visibility: hidden;
}

input,
textarea {
  background-color: var(--light-grey);
}

/* LIST */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  margin: 0 5%;
  top: 0;
  transition: transform 0.5s ease;
}

.tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-grey);
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.tasks li {
  justify-content: space-between;
  display: flex;
  width: 100%;
  padding: 1rem 0 1rem 1rem;
  border-top: 1px solid var(--medium-grey);
}

.tasks li:nth-child(2),
.tasks li:last-child {
  padding: 0;
}

.tasks li:first-child {
  padding-right: 1rem;
}

.tasks li:nth-child(2) {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

/* TO DO LIST HEADING */

.heading {
  padding: 10px;
}

.icon-refresh {
  outline: none;
  border: none;
  display: flex;
  width: 20px;
  height: auto;
  opacity: 0.7;
  background: var(--light-grey) url('icon-refresh.png') no-repeat center;
  background-size: contain;
  transition: transform 2s;
}

.icon-refresh:hover {
  opacity: 1;
  cursor: pointer;
}

.rotate {
  transform: rotate(360deg);
}

/* ADD INPUT FIELD */

.add-task {
  font-size: 16px;
  line-height: 50px;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 40px 0 1rem;
  height: 50px;
}

.add-task::placeholder {
  font-style: italic;
}

.icon-return {
  outline: none;
  cursor: pointer;
  border: none;
  display: inline-block;
  width: 30px;
  transform: scale(0.5) scaleY(-1);
  opacity: 0.7;
  height: auto;
  background: var(--light-grey) url('icon-return.png') no-repeat bottom;
}

.icon-return:hover {
  opacity: 1;
}

/* CHECKBOX */

.checkbox {
  display: inline-block;
  width: 15px;
  height: 20px;
  background-color: transparent;
  margin-right: 10px;
  border: none;
  outline: none;
}

input[type="checkbox"]:checked::after {
  content: "\2713";
  font-size: 20px;
  font-weight: bold;
  color: var(--blue);
  background-color: var(--light-grey);
}

li input[type=checkbox]:checked + span {
  text-decoration: line-through;
  color: var(--light-grey);
}

/* DESCRIPTION TEXT */

textarea {
  width: 100%;
  resize: none;
  outline: none;
  border: none;
}

.completed {
  text-decoration: line-through;
  color: var(--dark-blue-grey);
}

/* REMOVE BUTTON */

.remove-task {
  outline: none;
  border: none;
  display: flex;
  width: 20px;
  height: auto;
  background: var(--light-grey) url('icon-trash.svg') no-repeat center;
  background-size: contain;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.hidden {
  display: none;
}

/* DOTS */

.dots {
  display: inline-block;
  width: 20px;
  height: 25px;
  margin-right: 10px;
  background-image: url('more-vertical.svg');
  background-repeat: no-repeat;
}

/* CLEAR BUTTON */

.clear-btn-container {
  background: var(--dark-blue-grey);
  cursor: pointer;
  position: relative;
  transition: all 0.8s ease;
}

.clear-btn {
  width: 100%;
  cursor: pointer;
  background-color: inherit;
  color: var(--white);
  outline: none;
  height: auto;
  border: none;
  padding: 1rem;
}

.clear-btn-container.ripple::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  clip-path: polygon(10% 0, 70% 0, 90% 100%, 30% 100%);
  animation: right-left 400ms linear;
}

@keyframes right-left {
  0% {
    left: 100%;
  }

  100% {
    left: -100%;
  }
}

@media only screen and (min-width: 600px) {
  .container {
    width: 500px;
    margin: 0 auto;
  }
}
