/* FONT */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&display=swap');

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
}

ul {
  list-style: none;
}

/* GENERAL */

html,
body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #f1f2f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #777;
}

/* LIST */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  top: 0;
  width: 500px;
  transition: transform 0.5s ease;
}

.container:hover {
  transform: translateY(-10px);
}

.tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  color: #444;
  width: 100%;
}

.tasks li {
  justify-content: space-between;
  display: flex;
  width: 100%;
  padding: 1rem 0 1rem 1rem;
  border-top: 1px solid #f1f2f5;
}

.tasks li:nth-child(2),
.tasks li:last-child {
  padding: 0;
}

.tasks li:first-child {
  padding-right: 1rem;
}

.tasks li:nth-child(2) {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

/* TO DO LIST HEADING */

.heading {
  padding: 10px;
}

.icon-refresh {
  outline: none;
  border: none;
  display: flex;
  width: 20px;
  height: auto;
  background: #fff url('icon-refresh.png') no-repeat center;
  background-size: contain;
}

/* ADD INPUT FIELD */

.add-task {
  font-size: 16px;
  line-height: 50px;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 40px 0 1rem;
  height: 50px;
}

.add-task::placeholder {
  font-style: italic;
}

.icon-return {
  outline: none;
  border: none;
  display: inline-block;
  width: 20px;
  height: auto;
  background: #fff url('icon-return.png') no-repeat bottom;
}

/* CHECKBOX */

.checkbox {
  display: inline-block;
  width: 15px;
  height: 20px;
  background-color: transparent;
  margin-right: 10px;
  border: none;
  outline: none;
}

input[type="checkbox"]:checked::after {
  content: "\2713";
  font-size: 20px;
  font-weight: bold;
  color: #2e8ae6;
  background-color: #fff;
}

li input[type=checkbox]:checked + span {
  text-decoration: line-through;
  color: #888;
}

/* DOTS */

.dots {
  display: inline-block;
  width: 20px;
  height: 25px;
  margin-right: 10px;
  background-image: url('more-vertical.svg');
  background-repeat: no-repeat;
}

/* CLEAR BUTTON */

.clear-btn-container {
  background-color: #f1f2f5;
  cursor: pointer;
}

.clear-btn {
  width: 100%;
  cursor: pointer;
  background-color: #f1f2f5;
  outline: none;
  border: none;
  margin: 1rem auto;
}